<div class="search-container">
  <form>
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <md-input-container>
            <input mdInput #cityName placeholder="Your City of Interest" required>
          </md-input-container>
        </td>
        <td>
          <div *ngIf="cityName.value; else elseBlock">
            <button md-mini-fab (click)="searchWeatherByCity(cityName.value)"><md-icon>search</md-icon></button>
          </div>
          <ng-template #elseBlock>
            <button md-mini-fab (click)="searchWeatherByCity(cityName.value)" disabled><md-icon>search</md-icon></button>
          </ng-template>
        </td>
      </tr>
    </table>
  </form>
</div>
<div class="card-container">
  <md-card *ngIf="weatherResults">
    <md-card-subtitle>Weather</md-card-subtitle>
    <md-card-title>{{weatherResults?.name}}, {{weatherResults?.sys.country}}</md-card-title>
    <md-card-content>
      <span class="main-temp">{{weatherResults?.main.temp}} °C</span>
   </md-card-content>
  </md-card>
</div>
