<div class="card-container">
  <md-card>
    <md-card-subtitle>Local Area</md-card-subtitle>
    <md-card-title>Weather</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>DETAILS</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-subtitle>Location Based</md-card-subtitle>
    <md-card-title>Events</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>DETAILS</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-subtitle>Priority Based</md-card-subtitle>
    <md-card-title>Alerts</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>DETAILS</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

</div>
