<div class="card-container">
  <md-card>
    <md-card-title>Account Preferences</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
       <button md-button>UPDATE</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>Personal Info & Privacy</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>UPDATE</button>
    </md-card-actions>
  </md-card>

  <md-card>
    <md-card-title>Sign-in & Security</md-card-title>
    <md-card-content>
      <p>This is supporting text.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
      <button md-button>UPDATE</button>
    </md-card-actions>
  </md-card>

</div>
